<!DOCTYPE html>
<html>
<head>
    <title>Nouveau Projet</title>
</head>
<body>
    <h2>Ajouter un nouveau projet</h2>
    <form method="POST">
        <label>Nom du projet</label><br>
        <input type="text" name="nom_projet" required><br><br>

        <label>Nom du fichier 1 (ex: ventes.csv)</label><br>
        <input type="text" name="fichier_1"><br><br>

        <label>Nom du fichier 2 (ex: stock.csv)</label><br>
        <input type="text" name="fichier_2"><br><br>

        <label>Dossier source</label><br>
        <input type="text" name="emplacement_source"><br><br>

        <label>Dossier archive</label><br>
        <input type="text" name="emplacement_archive"><br><br>

        <button type="submit">Créer le projet</button>
    </form>
</body>
</html>
